html {
    background-color: #24344E;
    padding: 50px;
}


body {
    background-color: #F0F5FE;
    font-family:"Palatino","Georgia",Times,serif;
    font-size:16px;
    max-width: 10in;
    margin: auto;
    padding:10px;
}

.container {
    width: 800px;
    margin: auto;
    padding: 10px;
    padding-right:50px;
    padding-left:50px;
}

.container-fluid {
    max-width: 800px;
    margin: auto;
    padding: 10px;
    padding-right:50px;
    padding-left:50px;
}

#central {
    width: 700px;
    margin-top: 20px;
}


/* resize images */
img {
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
}

.right {
    text-align: right;
}

.small {
    font-size: 12px;
}

a {
    color:blue;
}

a:linked {
    color:blue;
}

a:hover {
    color:gray;
    text-decoration:none;
}

h3 {
    margin-top:5px;
}

h4 {
    font-size:18px;
    font-style:italic;
    margin-bottom:1px;
}

p {
    text-indent:20px;
}

.no-indent {
    text-indent:0px;
}

#research-top {
    margin-bottom:10px;
    position: relative;
}

.img-thumbnail {
    max-height:120px;
}

.spacy {
    margin-top:20px;
    margin-bottom:20px;
}

table tr, td {
    padding: 10px;
}