html {
    padding: 20px;
}


body {
    background-color: #F0F5FE;
    font-family:"Palatino","Georgia",Times,serif;
    font-size:16px;
    max-width: 12in;
    margin: auto;
}

.container {
    width: 800px;
    margin: auto;
    padding: 10px;
    padding-right:20px;
    padding-left:20px;
    position:relative;
}

.container-fluid {
    max-width: 800px;
    margin: auto;
    padding: 10px;
    padding-right:50px;
    padding-left:50px;
}

#central {
    width: 700px;
    margin-top: 20px;
}


/* resize images */
img {
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
}

.right {
    text-align: right;
}

.small {
    font-size: 15px;
}

.medium {
    font-size: 18px;
}


a {
    color:blue;
}

a:linked {
    color:blue;
}

a:hover {
    color:gray;
    text-decoration:none;
}

h1 {
    font-size:54px;
    font-family:"Garamond", Serif;
    font-weight: bold;
}


h3 {
    margin-top:5px;
}

h4 {
    font-size:18px;
    font-weight:bold;
    margin-bottom:1px;
}

h5 {
    font-size:18px;
    font-style:italic;
    margin-bottom:1px;
}

p {
    text-indent:20px;
}


.center {
    text-align:center;
}


.no-indent {
    text-indent:0px;
}

#research-top {
    margin-bottom:10px;
    position: relative;
}

.img-thumbnail {
    max-height:120px;
}
    
.spacy {
    margin-top:20px;
    margin-bottom:20px;
}

table tr, td {
    padding: 10px;
}

.list-inline>li {
    padding: 8px;
}

i {
padding: 5px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.outline {
  color: black;
  text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white;
}
