.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image: url("chalkboard.jpg");
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  left: 30px;
  top:30px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron h2 {
  color: #fff;
  font-size: 36px;  
  font-family: 'Shift', sans-serif;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.content h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.content h4 {
  font-family: 'Shift', sans-serif;
  font-size: 15px;
}

.content a {
  color: #00b0ff;
}

.content {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.content h2 {
    color: #393c3d;
    font-size: 24px;
}

.content p {
    margin-top: 20px;
    margin-bottom: 13px;
    margin-right: 20px;
    font-size: 15px;
}

.content ul {
    list-style-type: none;
}

.content .container {
  position: relative;
  top:20px;
  margin-bottom:30px;
  margin-right:20px;
  margin-left:60px;
}


.thumbnail {
    border: 0 none;
    box-shadow: none;
}



.pull-left {
    margin-left:10%;
}

.pull-right {
    margin-right:10%;
}

.imgset {
    max-height: 20px;
}

.foot {
  background-image: url("talkpic.jpg");
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

table {
    padding: 0px;
    vertical-align: top;
    table-layout: fixed;
}
td {
    padding: 5px;
    vertical-align: top;
}

th {
    overflow: hidden;
    width: 200px;
}